* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
  height: 100vh;
}

h1 {
  font-family: 'Raleway', sans-serif;
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.main-content{
  display: flex;
  flex-direction: column;
  flex: 1;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

main .calculadora {
  border-radius: 10px;
  background: white;
  width: 90%;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  margin-bottom: 2rem;
}

@media (min-width: 768px){
  main .calculadora {
    width: 60%;
  }
}

main .calculadora .input {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 1rem 2rem;
  background: rgb(128, 128, 128);
  font-size: 30px;
  font-family: "Roboto Mono", sans-serif
}

main .calculadora .input p {
  height: 100%;
  display: flex;
  align-items: center;
}

main .calculadora .input .resultado {
  display: block;
  text-align: right;
}

main .calculadora .teclas {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding: 3rem 0;
  place-content: center;
}

@media (min-width: 768px){
  main .calculadora .teclas {
    gap: 1.5rem;
    padding: 2rem 0;
  }
}

main .calculadora .teclas button {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: auto;
  border: none;
  background: #6b7268;
  color: #6bd1ff;
  transition: all .3s ease;
  font-weight: 400;
  font-size: 1rem;
}

@media (min-width: 768px){
  main .calculadora .teclas button {
    width: 80px;
    height: 80px;
    font-weight: 900;
    font-size: 2rem;
  }
}

main .calculadora .teclas button.clear {
  color: #f64e4e;
}

main .calculadora .teclas button:hover {
  background: #636761;
  cursor: pointer;
  scale: 1.05;
}